<%- include('index');  -%>
<head>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <h1>Fill your Student data</h1>
<form method="POST" enctype="multipart/form-data">
    <table border="1.5px" cellpadding="2 px">
        <tr>
            <th>NAME</th>
            <th>Details</th>
        </tr>
        <tr>
            <td>name:</td>
            <td><input type="text" name="user_name" value="<%= user.user_name %>"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="user_email" value="<%= user.user_email %>"></td>
        </tr>
        <tr>
            <td>Contact:</td>
            <td><input type="text" name="user_mobile" value="<%= user.user_mobile %>"></td>
        </tr>
        <tr>
            <td>File:</td>
            <td><input type="file" name="user_file" value="<%= user.user_file %>"></td>    
        </tr>
        <tr>
            <tr>
                <td colspan="2"><button onclick="window.location.href='/Register'">BACK</button>&nbsp;&nbsp;&nbsp;<input type="submit" value="SUBMIT"></td>
            </tr>
        </tr>
    </table>
</form>