<table>
        <tbody>
            <tr>
                <td>ID:</td>
                <td><%=user._id  %></td>
            </tr>
            <tr>
                <td>FirstName:</td>
                <td><%=user.user_name  %></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><%=user.user_email  %></td>
            </tr>
            <tr>
                <td>Contact:</td>
                <td><%=user.user_mobile  %></td>
            </tr>
            <tr>
                <td>File:</td>
                <td><%=user.user_file  %></td>
            </tr>
        </tbody>
</table>